AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BasedOnStyle: LLVM
BreakBeforeBraces: Attach
ColumnLimit: 0
ContinuationIndentWidth: 8
IndentWidth: 8
PointerAlignment: Right
SortIncludes: false
SpaceAfterCStyleCast: false
UseTab: Never
