*.a
*.la
*.lo
*.log
*.m4
*.o
*.stamp
*.swp
*.tar.xz
*.trs
*~

/aclocal.m4
/build/
/config.log
/config.status
/configure
.deps/
.dirstamp
/.libs/
/libtool
/Makefile
/Makefile.in
/install-tree

/libndhcp.so.0
/src/ndhcp.pc

/test-api
/test-message4
